$breakpoints: (
    tablet: 768px,
    desktop: 1000px
);
@mixin responsive( $breakpoint ) {
    @media screen and ( min-width: map-get( $breakpoints, $breakpoint )) {
        @content;
    }
}

@mixin flex( $dir: row, $just: center, $align: center ) {
    display: flex;
    flex-direction: $dir;
    justify-content: $just;
    align-items: $align;
}

@mixin container( $max: 1200px ) {
    width: 100%;
    max-width: $max;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 100%;
    @include responsive( desktop ){
        padding-left: 0;
        padding-right: 0;
    }
}

@mixin size( $height: 100%, $width: 100% ) {
    height: $height;
    width: $width;
}