$text-color: #343434;
$primary: #FBC22B;
$secondary: #CC8512;


$black: #343434;

$shadow: 0 10px 20px rgba( 0, 0, 0, .2 );

$transition: all .5s ease-in-out;

$radius: .4rem;

$border: 1px solid rgba($color: #343434, $alpha: .2);;