@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
}
*,
*::before,
*::after {
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

a {
    text-decoration: none;
    color: currentColor;
}

.title {
    font-size: 1.8rem;
    font-weight: 500;
    padding: 2rem 0;
}

.navbar {
    position: fixed;
    background-color: #fff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .4);
    width: 100%;
    z-index: 99;
}
.navbar__brand {
    font-weight: 800;
    font-size: 1.2em;
}
.navbar__container {
    padding: 0 1rem;
    max-width: 1200px;
    height: 75px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navbar__wrapper {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    list-style-type: none;
}
.navbar__item {
    font-size: .8em;
    position: relative;
}
.navbar__item--active::after {
    display: flex;
    justify-content: center;
    align-items: center;
    content: '';
    position: absolute;
    width: 100%;
    margin-top: 10px ;
    border: 2px solid #222;
    border-radius: .2rem;
}
.navbar__item--cta {
    padding: .8rem;
    background-color: #222;
    color: #fff;
    border-radius: .2rem;
}
.cartIcon {
    height: 24px;
    cursor: pointer;
}
.navbar__user {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 15px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 120vh;
    padding: 100px 1rem ;
}





.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.card {
    cursor: pointer;
    border-radius: .2rem;
    margin: 10px;
    padding: 20px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, .2);
    transition: all .2s ease-in-out;
}
.card:hover {
    transform: scale(102%);
}
.card__title {
    border-top: 2px solid gray;
    font-size: 1rem;
    padding: 1rem 0;
}
.card__price {
    color: green;
    font-size: 1.4rem;
}
.card__image {
    height: 400px;
    width: 100%;
    object-fit: cover;
    padding: 1rem 0;
}