@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');








$breakpoints: (
    tablet: 768px,
    desktop: 1000px
);
@mixin responsive( $breakpoint ) {
    @media screen and ( min-width: map-get( $breakpoints, $breakpoint )) {
        @content;
    }
}

@mixin flex( $dir: row, $just: center, $align: center ) {
    display: flex;
    flex-direction: $dir;
    justify-content: $just;
    align-items: $align;
}

@mixin container( $max: 1200px ) {
    width: 100%;
    max-width: $max;
    padding: 0 1rem;
    margin: auto;
}

@mixin size( $height: 100%, $width: 100% ) {
    height: $height;
    width: $width;
}

html {
    font-family: 'Montserrat', sans-serif;
}
*,
*::before,
*::after {    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

a {
    text-decoration: none;
    color: currentColor;
}

body {
    background-color: #ebebeb;
}
.title {
    font-size: 1.8rem;
    font-weight: 500;
    padding: 2rem 0;
}

$primary: #343434;


$text-color: #343434;
$accents: #363fe6;

$shadow: 0px 0px 10px rgba( 0, 0, 0, .1 );

$transition: all .5s ease-in-out;

$radius: .2rem;


@import './components/navbar';












.container {
    @include container;
    padding-top: 50px;
}


.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    @include responsive( tablet ){
        grid-template-columns: repeat(2, 1fr);
    }
    @include responsive( desktop ){
        grid-template-columns: repeat(4, 1fr);
    }    
}



.card {
    cursor: pointer;
    border-radius: $radius;
    padding: 1rem;
    box-shadow: $shadow;
    background-color: #fff;
    color: $text-color;
    @include responsive( desktop ) {
        transition: all .2s ease-in-out;
        &:hover { transform: scale(102%); }
    }
    &__price {
        color: $text-color;
        font-size: 1.6em;
        font-weight: 500;
    }    
    &__title {
        font-weight: 400;
        font-size: .8em;
        padding: .4rem 0 .8rem 0;
    }
    
    &__shipping {
        color: #00a650;
        gap: 10px;
        font-size: .8em;
        @include flex( row, start, center );
        &--icons {
            font-size: 1.4em;
            @include flex;
        }
    }
    &__image {
        object-fit: contain;
        @include size( 350px, 100% );
        @include responsive(  tablet  ) { height: 300px; }
        @include responsive(  desktop ) { height: 250px; }
    }
}








.product {
    background-color: #fff;
    margin: 20px 0;
    border-radius: $radius;
    overflow: hidden;
    display: grid;
    padding: 2rem;
    grid-template-columns: 1fr;
    grid-template-areas: 'image' 'info';
    min-height: 85vh;
    @include responsive( tablet ) {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'image info info';
    }
    &__image {
        
        grid-area: image;
        @include flex;
        img {
            object-fit: contain;
            @include size( 300px, 100% );
            @include responsive( tablet ) {
                @include size( 450px, 100% );
            }
        }
    }
    &__info {
        grid-area: info;
    }
    &__title {
        color: $text-color;
        font-size: 2em;
        margin: 20px 0;
        @include responsive( tablet ) {
            margin: 0;
            margin-bottom: 10px;
            font-size: 3em;
        }
    }
    &__price {
        font-size: 2rem;
        margin-bottom: 10px;
        
    }
    &__subtitle {
        margin-bottom: 20px;
    }
    
}


.button--container {
    display: flex;
    gap: 10px;
    margin: 25px 0;
    width: 100%;
}
.button {
    height: 45px;
    min-width: 120px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: $radius;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.button--primary {
    background-color: $accents;
    color: #fff;
    min-width: 70%;
    &:hover {
        background-color: #055bbc;
    }
}
.button--secondary {
    background-color: #eee;
    border: 1px solid $accents;
    min-width: 30%;
    &:hover {
        
        background-color: #c9c9c9;
    }

}